* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #09090A;
    color: white;
    height: 100vh;
}

header{
    background-color: #09090A;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 48px;

    position: fixed;
    width: 100%;
}

button{
padding: 16px 24px;
border-radius: 8px;
border: 1px solid #8B5CF6; 
background-color: transparent;
color: antiquewhite;
display: flex;
gap: 12px;
align-items: center;
font-family: 'inter';
font-weight: 600;
font-size:  16px;
line-height: 125%;
}

h1 {
    text-align: center;
}

#form-habitos{
    display: flex;
    padding:  182px 24px 24px;
    width: fit-content;
}

.days{
   display: flex;
   gap: 48px;
   margin-left: 32px ; 
}
.day{
    display: flex;
    flex-direction: column;
    gap: 24px;
} 

.day div{
    margin-bottom: 1px;
    font-family: 'Roboto Mono';
    font-size: 20px;
    line-height: 125px;

    color: #A1A1AA;
    text-align: center;
}

.habits{
    margin-top: 160px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.habit{
    
    width: 64 px;
    height: 64 px;
    font-size: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    appearance: none;
    -webkit-appearence: nome;

    width: 64px;
    height: 64px;
    
    border: 2px solid #27272A;
    border-radius: 8px;

    background: #18181B;
}

input:checked{
background: #8B5CF6;
/* tailwind/violet/400 */

border: 2px solid #A78BFA;
border-radius: 8px;
}

@media (max-width:50px){
button div{
    display: nome;
}
}